In [8]:
import numpy as np
import pandas as pd

In [12]:
import calendar

In [2]:
df = pd.read_csv('Train.csv', low_memory = False)

In [3]:
df.head()

,TimeStamp,StandardTemperature,Humidity,Wind,Ticket1,Ticket2
0,2068-04-18 03:00:00,0.284836,47.75442,0.221554,1,3
1,2068-05-20 19:00:00,0.614588,48.72900,0.413520,108,233
2,2067-06-10 21:00:00,0.614588,28.26282,0.103405,52,197
3,2067-01-08 02:00:00,0.269797,77.96640,0.000000,6,28
4,2067-08-07 00:00:00,0.689581,53.60190,0.088661,34,81

In [4]:
df.dtypes

TimeStamp               object
StandardTemperature    float64
Humidity               float64
Wind                   float64
Ticket1                  int64
Ticket2                  int64
dtype: object

In [19]:
df.TimeStamp = df.TimeStamp.astype('datetime64')

In [7]:
df.describe()

,StandardTemperature,Humidity,Wind,Ticket1,Ticket2
count,14000.000000,14000.000000,14000.000000,14000.000000,14000.000000
mean,0.474355,60.752950,0.191823,35.175500,142.251214
std,0.175030,19.292659,0.121645,47.354152,138.287013
min,0.000000,0.000000,0.000000,1.000000,1.000000
25%,0.329752,45.805260,0.103405,5.000000,32.000000
50%,0.487159,60.423960,0.191967,17.000000,108.000000
75%,0.614588,76.991820,0.280628,47.000000,204.000000
max,0.989356,97.458000,0.841785,368.000000,797.000000

In [20]:
df['Time'] = df['TimeStamp'].dt.time

In [21]:
df['Date'] = df['TimeStamp'].dt.date

In [22]:
df['Day'] = df['TimeStamp'].dt.weekday

In [35]:
df.head()

,TimeStamp,StandardTemperature,Humidity,Wind,Ticket1,Ticket2,Time,Date,Day,month,year
0,2068-04-18 03:00:00,0.284836,47.75442,0.221554,1,3,03:00:00,2068-04-18,2,4,2068
1,2068-05-20 19:00:00,0.614588,48.72900,0.413520,108,233,19:00:00,2068-05-20,6,5,2068
2,2067-06-10 21:00:00,0.614588,28.26282,0.103405,52,197,21:00:00,2067-06-10,4,6,2067
3,2067-01-08 02:00:00,0.269797,77.96640,0.000000,6,28,02:00:00,2067-01-08,5,1,2067
4,2067-08-07 00:00:00,0.689581,53.60190,0.088661,34,81,00:00:00,2067-08-07,6,8,2067

In [27]:
df['month'] = df['TimeStamp'].dt.month

In [29]:
df['year'] = df['TimeStamp'].dt.year

In [31]:
df.groupby(['year', 'month'])['Ticket1'].sum()

year  month
2067  1         3043
      2         5821
      3        12539
      4        18582
      5        29967
      6        32147
      7        38896
      8        30982
      9        25841
      10       29310
      11       15162
      12       10941
2068  1         9445
      2        10036
      3        27038
      4        39961
      5        38818
      6        47802
      7        41425
      8        24701
Name: Ticket1, dtype: int64

In [32]:
df.groupby(['year', 'month'])['Ticket2'].sum()

year  month
2067  1         28458
      2         38992
      3         51325
      4         61294
      5        105883
      6        109171
      7        109428
      8        108748
      9         98402
      10       106204
      11        90239
      12        85246
2068  1         75017
      2         96498
      3        125329
      4        135696
      5        151879
      6        155832
      7        160605
      8         97271
Name: Ticket2, dtype: int64

In [33]:
df_test = pd.read_csv('TestFileExample.csv', low_memory = False)

In [34]:
df_test.head()

        TimeStamp  StandardTemperature  Humidity      Wind
0   8/29/68 21:00             0.599649  71.14434  0.000000
1    9/21/68 5:00             0.509716  80.89014  0.000000
2    9/14/68 3:00             0.569671  80.89014  0.088661
3  11/15/68 19:00             0.389707  26.31366  0.354446
4   12/12/68 0:00             0.479640  57.50022  0.280628

In [36]:
winter = [12, 1, 2]
spring = [3, 4, 5]
summer = [6, 7, 8]
fall = [9, 10, 11]

In [37]:
def seasons(m):
    if m in winter:
        return 'winter'
    elif m in spring: 
        return 'spring'
    elif m in summer:
        return 'summer'
    elif m in fall:
        return 'fall'

In [39]:
df['season'] = list(map(seasons, df['month']))

In [40]:
df.head()

,TimeStamp,StandardTemperature,Humidity,Wind,Ticket1,Ticket2,Time,Date,Day,month,year,season
0,2068-04-18 03:00:00,0.284836,47.75442,0.221554,1,3,03:00:00,2068-04-18,2,4,2068,spring
1,2068-05-20 19:00:00,0.614588,48.72900,0.413520,108,233,19:00:00,2068-05-20,6,5,2068,spring
2,2067-06-10 21:00:00,0.614588,28.26282,0.103405,52,197,21:00:00,2067-06-10,4,6,2067,summer
3,2067-01-08 02:00:00,0.269797,77.96640,0.000000,6,28,02:00:00,2067-01-08,5,1,2067,winter
4,2067-08-07 00:00:00,0.689581,53.60190,0.088661,34,81,00:00:00,2067-08-07,6,8,2067,summer

In [45]:
df.groupby(['year', 'month'])['StandardTemperature', 'Humidity', 'Wind'].agg(np.mean, np.max, np.min)

ValueError: the 'dtype' parameter is not supported in the pandas implementation of None()

In [48]:
%mv Annette_Data_explore.ipynb /home/ahwang6/MSA8150\ Projects/git_rep/Amusement-Park

In [49]:
%pwd

'/home/ahwang6/MSA8150 Projects/Amusement Park'

ERROR: Line magic function `%git` not found.